$cell-border-width: 1px;
$cell-border-style: solid;

.rbc-header {
    border-bottom : $cell-border-width $cell-border-style var(--border);
    padding: 0 7px;
    text-align: unset;
    font-weight: unset;
    font-size: 85%;
    color: var(--foreground);
    & + & {
        border-left: 0px;
    }
}

.rbc-month-view {
    border-width: 0px;
}

.rbc-month-row {
    border-right : $cell-border-width $cell-border-style var(--border);
    border-left : $cell-border-width $cell-border-style var(--border);
    border-bottom: $cell-border-width $cell-border-style var(--border);

    & + & {
        border-top: 0px;
    }
}

.rbc-off-range-bg {
    background-color: var(--muted);
    opacity: 0.5;
}

.rbc-off-range {
    button {
        color: var(--foreground);
        opacity: 0.2;
    }

    .rbc-sunday {
        color: #ff4040;
        opacity: 0.3;
    }

    .rbc-saturday {
        color: #4040ff;
        opacity: 0.3;
    }

    .rbc-public {
        color: #ff4040;
        opacity: 0.3;
    }

    .rbc-recommend {
        color: #4040ff;
        opacity: 0.3;
    }
}

.rbc-date-cell {
    text-align: left;
    padding-left: 3px;
    padding-top: 3px;
    &.rbc-date-cell > button {
        width: 26px;
        height: 26px;
    }
    &.rbc-now > button {
        font-weight: bold;
        color: #ffffff;
        background-color: #135de6;
        border-radius: 50%;
    }
}

.rbc-day-bg {
    & + & {
        border-left: $cell-border-width $cell-border-style var(--border);
    }
}

.rbc-button-link {
    font-size: 15px;
    color: var(--foreground);
}

.rbc-today {
    background-color: unset;
}

.rbc-selected-cell {
    background-color: rgba(81, 92, 230, 0.05);
    border: $cell-border-width $cell-border-style rgb(81, 92, 230);
}

.rbc-sunday {
    color: #ff4040;
}

.rbc-saturday {
    color: #4040ff;
}

.rbc-public {
    color: #ff4040;
}

.rbc-recommend {
    color: #4040ff;
}
