.calendar_sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 180px;
    max-width: 180px;
    min-width: 180px;
    width: 180px;
    padding-right: 10px;

    .ant-divider-horizontal {
        margin: 10px 0 !important;
    }

    .sidebar_all {
        display: flex;
        align-items: flex-end;
        height: 32px;
        margin: 20px 0 0 0;
        padding-left: 4px;
    }

    .sidebar_btn_group {
        overflow:auto;
        flex: 1 0 0;
        -ms-overflow-style: none; /* 인터넷 익스플로러 */
        scrollbar-width: none; /* 파이어폭스 */
    }

    .sidebar_btn_group::-webkit-scrollbar {
        display: none;
    }

    .sidebar_list {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 2px;

            svg {
                margin-right: 8px;
            }

            div {
                font-size: 16px;
            }
        }
    }
}
