.rbc-toolbar {
    justify-content: space-between !important;
    align-items: unset !important;

    .rbc-toolbar-left {
        display: flex;
    }

    .rbc-btn-group {
        margin-left: 2px;

        button {
            margin-right: 5px;
        }
    }

    .rbc-toolbar-label-group {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5px;
        font-size: 20px;

        .rbc-toolbar-label {
            margin: '0 10px';
        }
    }
}
