.ps-sidebar-root {
    .ps-sidebar-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .ps-menu-root:first-child {
        margin-top: 70px;
    }
}
