.nav {
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    position: sticky;
    top: 0;
    height: 55px;
    z-index: 100;

    .nav-bar {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
        min-width: 1480px;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}